
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>MVC Intro</h2>
    <a href="/Home/About">Hakkımızda</a>
    <a href="/Product/Index">Product</a>
</body>
</html>
